<a href="https://colab.research.google.com/github/CostaNathan/doctorate/blob/Ocean_outfalls/dados_vento_part.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('/content/vento_base.xlsx', header = None)
df

             0    1      2
0          0.0  2.0  136.0
1         60.0  1.1  116.0
2        120.0  0.7  306.0
3        180.0  0.5    8.0
4        240.0  0.7  293.0
...        ...  ...    ...
8756  525360.0  2.6  128.0
8757  525420.0  2.6  128.0
8758  525480.0  2.6  128.0
8759  525540.0  2.6  128.0
8760  525600.0  2.6  128.0

[8761 rows x 3 columns]

In [12]:
day = []
hour = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]
hour_rep =[]
minutes = np.zeros(len(df))
seconds = np.zeros(len(df))

for i in range (len(df)):
  day.append(df.iloc[i,0]//1440)

for i in range (int(len(df)/24)):
  hour_rep.append(hour)
hour_rep = np.array(hour_rep).flatten()
hour_rep = np.append(hour_rep, 0)


df['day'] = day
df['seconds'] = seconds
df['hour'] = hour_rep

col = ['day','hour', 'seconds',1, 2, 0]

df = df[col]
df = df.drop([0], axis = 1)
df
# df.columns.tolist()

KeyError: ignored

In [13]:
df.to_excel('vento_modificado.xlsx')