<a href="https://colab.research.google.com/github/CostaNathan/doctorate/blob/Introdu%C3%A7%C3%A3o_Python/Trabalho_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

def caixa():

  a = []
  for i in range (11):
    if i > 0:
      print(i)
      a.append(i)
  print(a)

caixa()

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

def lista_5(a,b,c,d,e):

  k = [a, b, c, d, e]
  print(k)

lista_5(1, 'João', 4.5, 'e', 10-5)

[1, 'João', 4.5, 'e', 5]

In [6]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

def concat_str (a, b):
  print(a + ' ' + b)

concat_str('Julia', 'perdeu a aula')

Julia perdeu a aula

In [9]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

def tup ():

  a = [1, 2, 2, 3, 4, 4, 4, 5]
  b = tuple(a)

  print(b.count(4))

tup()

3

In [10]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

def dicionario ():
  
  a = dict()
  print(a)

dicionario()

{}

In [22]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

def dicionario_iteravel(nome, idade, altura):

  k = dict(Nome = [nome], Idade = [idade], Altura = [altura])
  print(k)

dicionario_iteravel("Jorge", 54, 1.72)

{'Nome': 'Jorge', 'Idade': 54, 'Altura': 1.72}

In [27]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

k = dict(Nome = "Jorge", Idade = 54, Altura = 1.72)
k['Ano'] = 1996
k

{'Nome': 'Jorge', 'Idade': 54, 'Altura': 1.72, 'Ano': 1996}

In [25]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

def dicionario_iteravel(nome, idade, altura):

  k = dict(Nome = [nome], Idade = [idade], Altura = [altura])
  print(k)

dicionario_iteravel(["Jorge", 'Matheus'], [54, 32], [1.72, 1.80])

{'Nome': [['Jorge', 'Matheus']], 'Idade': [[54, 32]], 'Altura': [[1.72, 1.8]]}

In [29]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string,
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

def lista_4_elem (a, b, c, d):

  k = [a, b, c, d]
  print(k)

a = 'Paulo'
b = (1,2)
c =  dict(Nome = "Jorge", Idade = 54)
d = 1.5

lista_4_elem(a,b,c,d)

['Paulo', (1, 2), {'Nome': 'Jorge', 'Idade': 54}, 1.5]

In [7]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

def string (frase):
  
  for i in range (len(frase)):
    if i == 0 or i > 18:
      continue
    else:
      print(frase[i])
      
string(frase)

i
e
n
t
i
s
t
a

d
e

D
a
d
o
s